@charset "utf-8";
body {
    background-color: thistle;
}
h1{
    padding-top: 50px
}
h2 {
    border: solid;
    border-color: lightyellow;
    margin-right: 4em;
    margin-left: 4em;
}
h1,h2{
    text-align: center;
}

p { text-align: justify;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 9em;
    padding-left: 9em;
    margin: 50px}